
.hermes-layout--arrow-left,
.hermes-layout--arrow-right {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 2;

  text-align: center;
  cursor: pointer;
  color: white;

  &::after {
    position: relative;
    display: inline-block;
    top: 50%;

    font-family: inherit;
    font-size: 60px;
    font-weight: 200;
    line-height: 0;

    padding: 0;
    margin: 0;
    border: none;

    background: transparent none;
    cursor: pointer;

    @include transform(scale(0.7, 2.4));
    @include transition(all 0.5s ease-in-out);
  }
}

.hermes-layout--arrow-left {
  left: 0;
  padding-right: 20%;

  &::after {
    content: "<";
  }
}

.hermes-layout--arrow-right {
  right: 0;
  padding-left: 20%;

  &::after {
    content: ">";
  }
}

