
.hermes-layout--slider {
  width: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
  font-size: 0;
  position: relative;
}

.hermes-layout--slide {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  font-size: 32px;
}

.hermes-layout--background,
.hermes-layout--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.hermes-layout--inner {
  height: 100%;
  white-space: normal;
}

