
.hermes-layout--slider.is-upgraded.hermes-before-transition {
  .hermes-slide-to {
    .hermes-layout--background,
    .hermes-layout--content,
    .hermes-layout--inner {
       @include transition(all 1ms linear);
    }
  }
}

