// slider arrows get smaller and move to bottom on tablets and phones
.hermes-layout--slider.hermes-responsive-controls {
  .hermes-layout--arrow {
    width: calc((100% - #{$wide-slider-width} + 40px) / 2);
  }
}
@media screen and (min-width: $breakpoint-narrow-to-normal) and (max-width: $breakpoint-normal-to-wide) {
  .hermes-layout--slider.hermes-responsive-controls {
    .hermes-layout--arrow {
      width: 80px;
    }
  }
}
@media screen and (min-width: 0) and (max-width: $breakpoint-narrow-to-normal) {
  .hermes-layout--slider.hermes-responsive-controls {
    .hermes-layout--arrow {
      width: calc(40% - 40px);
      padding: 0;

      &::after {
        top: 88%;
        font-weight: 300;

        @include transform(scale(0.5, 1));
      }
    }
  }
}

