
.hermes-layout--slider.is-upgraded {
  overflow: hidden;

  .hermes-layout--slide {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hermes-layout--background,
  .hermes-layout--content {
    opacity: 0;
  }
}

